$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
// font-family: 'Syncopate', sans-serif;
// font-family: 'Martel', serif

html * {
   font-family: 'Martel', sans-serif !important;
}

.btn {
  margin-left: 15px;
}

.btn-primary {
  color: #000;
  font-weight: bolder;
  background-color: #fff;
  border-color: #fff;
  margin: 5px
}

.btn-primary:hover {
  color: #000;
  background-color: #ff5146;
  border-color: #ff5146
}

.btn-info {
    color: #000;
    background-color: #ff5146;
    border-color: #ff5146;
  }

  .btn-info:hover {
      color: #000;
      background-color: #ff5146;
      border-color: #ff5146;
    }

#register {
  margin-left: 50px;
}

label {
  margin-right: .8rem;
}
.modal-footer {
  border-top: none;
}
